html {
  height: 100%;
}
body {
  text-align: center;
  padding-top: 20px;
  background: #f0f0f0;
  background: linear-gradient(to bottom, #4b6cb7, #182848);
}
canvas {
  border-radius: 10px;
}
h1 {
  font-family: sans-serif;
  color: #f0f0f0;
}